* {
  box-sizing: border-box;
}

.console {
  background: #eee;
  font-family: monospace;
  border: 2px solid #999;
  padding: 15px;
  height: 500px;
  overflow-y: scroll;
}

.console ul {
  margin: 0;
  padding: 0;
}

.console li {
  list-style: none;
}

.prompt {
}
